{% extends "base.html" %}

{% block includes %}
{% endblock %}

{% set title = 'Login' %}

{% block header %}
    {% include 'header.html'%}
{% endblock %}

{% block content %}
<div id="login">
    <div id="signin" class="container">
        <h2>Login</h2>
        <p>Fill in your details to login.</p>
        <form action="" method=post class="form-horizontal">
            {{ form.csrf_token }}
            <div class="control-group">
                <input type="email" id="email" name="email" placeholder="Enter Email" required>
                <input type="password" id="password" name="password" placeholder="Enter Password" required>
                <button type="submit" class="btn">Login</button>
            </div>
        </form>
        <p>Don't have an account? Create one <a href="/create">here.</a></p>
    </div>
</div>
{% endblock %}