/* Custom CSS styling */

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat' !important;
    color:#96999B !important;
    font-weight:300 !important;
    z-index: 0;
}


/* HEADER  */
header {
    background-color: #FFFFFF;
    width: 100%;
    height: 80px;
    position: relative;
    z-index: 0;
}