/* Custom CSS styling */

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat' !important;
    color:#96999B !important;
    font-weight:300 !important;
}

button{
    background-color: #eb6e51;
    border: 0;
    color:#fff !important;
    height:42px;
    width: 112px;
    font-weight: 500 !important;
    letter-spacing: 0.6px;
}

h5{
	font-weight: bold !important;
}

.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
.toggle.ios .toggle-handle { border-radius: 20px; }

/* Temp styling */
.error {
    border: 2px solid red !important; /* INDICATES WEAK PASSWORD IN PASSWORD FIELD */
}
a {
    color: blue; /* HIGHLIGHTS LINKS AND CLICKABLE PAGE ELEMENTS */
}

/* JQuery UI customisation */
/* no-close hides close button, no-title hides entire titlebar */
.no-close .ui-dialog-titlebar-close,
.no-title .ui-dialog-titlebar {
  display: none;
}


/* HEADER  */
header {
	border-bottom: 2px solid #D9DADB;
    background-color: #FFFFFF;
    width: 100%;
    height: 80px;
    position: relative;
    z-index: 1;
}

header .logo{
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../../images/PlayerXP-Logo-Main-Web.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin: 20px 20px;
    cursor: pointer;
    width: 25%;
}

header .nav-pic{
	margin: 10px 20px;
}

header .activity{
	margin-top: 20px;
	letter-spacing: 0.8px;
}

header div h4 {
    cursor: pointer;
}

header #userimg {
    cursor: pointer;
}

header .no-link {
    cursor: not-allowed;
}

#user-profile{
text-align: center;
}

.nav{
	overflow: hidden;
	padding-left: 22% !important;
}

.nav .main-nav {
	float: left;
	height:40px;
	width: 18%;
	border: 1px solid #dedede;
}

.nav .main-nav p{
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
}

.nav .main-nav:hover {
    text-decoration: none;
    background: rgba(0,0,0,0.1)
}

#user img:hover{
	/**/
}

#container{
	border: 1px solid #dedede;
	text-align: left;
	margin: auto;
	width: 80%;
	height: 50%;
}

.details-left{
	float:left;
	padding-left: 15%;
}

.details-right{
	padding-left: 55%;
}

.profile-buttons{
	padding-left: 82%;
	margin-bottom: 10px;
}

.subbtn{
	padding-left: 78% !important;
}

#notify {
	width: 90%;
	height: 55%;
	margin-top: 3%;
	margin-left: 5%;
	margin-right: 5%;
}

#notify p{
	text-align: center;
}

#notify .notify-right p{
	text-align: left;
	font-size: 12px;
}

.notify-left{
 	float: left;

}

.notify-mid{
	position: absolute;
	overflow: hidden;
	margin-left: 27%;
}

.notify-right{
	float: right;
	width: 200px;
}

#save-detail{
	margin-top: 40% !important;
}

#save-changes{
	margin-top: 10% !important;
}

.head-sub, .body-sub{
	overflow: hidden;
	padding-left: 9%;
	padding-top: 6%;
}

#subs .head-sub .head-hov:hover{
	text-decoration: none;
    background: rgba(0,0,0,0);
}

.body-sub{
	padding-top: 2% !important;
}

#subs .body-sub:hover{
	text-decoration: none;
    background: rgba(0,0,0,0);
}

#subs .left:hover .left-hov1{
	text-decoration: none;
    background: rgba(0,0,0,0);
}

/*#subs .left:hover .left-hov2{
	text-decoration: none;
    background: rgba(0,0,0,0);
}

#subs .left:hover .left-hov3{
	text-decoration: none;
    background: rgba(0,0,0,0);
}
*/
.left-sub, .mid-sub, .right-sub{
	overflow: hidden;
	float: left;
	width: 30%;
}

.left-sub:hover > .left, .mid-sub:hover > .mid, .right-sub:hover > .right{
	text-decoration: none;
    background: rgba(0,0,0,0);
}

#subs .team-nav, .tier-nav, .tier-long-nav {
	height: 90px;
	border: 1px solid #dedede;
	background: rgba(0,0,0,0.05)
}

#subs .team-nav{
	float: left;
	width: 30%;
}

#subs .tier-long-nav {
	height: 280px !important;
}

#subs .team-nav p, .tier-nav p, .tier-long-nav p{
	text-align: center;
	vertical-align: middle;
}

#subs .tier-long-nav p{
	line-height: 40px;
}

#subs .team-nav p, .tier-nav p{
	line-height: 90px;
}

#subs .body-sub .body-mid-sub{
	height: 200px !important;
}

#payment{
	width: 90%;
	height: 50%;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 3%;
	margin-right: 3%;
}

#payment .pay-details{
	border-bottom: 2px solid #D9DADB;
	margin: 2%;
	height: 30px;
	width: 90%;

}

#payment .pay-details p{
	display:inline;
	margin-right: 50%;
	margin-left: 5%;
	margin-bottom: 1%;
}

#payment .pay-details a{
	margin-right: 10%;
	color: #A7A7A8;
	cursor: pointer;
}

#payment .new-card{
	margin-left: 5%;
	margin-top: 3%;

}

#payment .new-card p{
	font-size: 12px;
	color: #A7A7A8;
	margin: 0 0 0px !important;

}

#payment .new-card p1{
	display: block;
	color: #000000;
	border-bottom: 1px solid #D9DADB;
	width: 50%;
	height: 30px;
}

#payment .test{
	position: relative;
}

#payment .visa{
	position: absolute;
    top: 0%;
    left: 41%;
    bottom: 0;
    background-image: url(../images/visa.png);
    background-repeat: no-repeat;
    width: 400px;
}


@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
*{
  margin:0px;
  padding:0px;
}
.wrapper {
	float: left;
	padding-top: 2%;
	padding-left: 40%;
	/*background: #497dd0;*/
/*	width: 20%;
	height: 20px;*/
  /*margin: 100px 0;*/
}
.toggle_radio{
  position: relative;
  border: 2px solid #D1D1D3;
  margin: 4px auto;
  overflow: hidden;
  padding: 0 !important;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: relative;
  height: 37px;
  width: 172px;
}
.toggle_radio > * {
  float: left;
}
.toggle_radio input[type=radio]{
  display: none;
  /*position: fixed;*/
}
.toggle_radio label{
  color: rgba(0,0,0,.9);
  z-index: 0;
  display: block;
  width: 50px;
  height: 40px;
  margin: 3px 3px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  cursor: pointer;
  z-index: 1;
  /*background: rgba(0,0,0,.1);*/
  line-height: 30px;
  text-align: center;
  /*margin: 0 2px;*/
  /*background: blue;*/ /*make it blue*/
}
.toggle_option_slider{
  /*display: none;*/
  /*background: red;*/
  width: 50px;
  height: 33px;
  position: absolute;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
}

#first_toggle:checked ~ .toggle_option_slider{
  background: rgba(235,110,81,.6);
  left: 0px;
}
#second_toggle:checked ~ .toggle_option_slider{
  background: rgba(235,110,81,.6);
  left: 60px;
}
#third_toggle:checked ~ .toggle_option_slider{
  background: rgba(235,110,81,.6);
  left: 118px;
}
